h1{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.iconoAizquierda{
	padding-top: 15px;
}

.icon-navigate_before{
	font-size: 30px;
}

h2, h3{
	font-size: 12px;
	text-align: center;
	margin-top: 0px;
}

.nextNumerico{
	width: 100%;
	color: #ffffff;
	background-color: #e30b8c;
	height: 50px;
	font-size: 20px;
	border-right: 0px;
	border-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.nextTelefono{
	padding: 0px;
}

.tamanoBanderas{
	width: 25px;
}

.textareaTel{
	height: 40px;
}

a, a:hover{
	color: black;
	text-decoration: none;
}

.tituloCountry{
	text-align: left;
	font-size: 20px;
	margin-bottom: 20px;
}

.fondocommon{
	background-color: #f2f2f2;
}

.common{
	font-size: 15px;
	margin-top: 10px;
}

.paisDiv{
	margin-top: 10px;
}

.nombrePais{
	margin-left: 10px;
}

.lineaPaises{
	color: #f2f2f2;
	margin-top: 10px;
	margin-bottom: 10px;
}

.estadosUnidos{
	margin-bottom: 60px;
}

.ingresoCodigo{
	width: 100%;
	border: #e30b8c solid 3px;
	text-align: center;
	margin-bottom: 10px;
}

.telUsuario{
	text-align: center;
	font-size: 12px;
}
.nextVerificacion{
	width: 100%;
	color: #ffffff;
	background-color: #e30b8c;
	height: 50px;
	font-size: 20px;
	border-right: 0px;
	border-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}